@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Hat Text", serif;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./Combined\ Shape.png), url(./Rectangle.png);
  overflow: hidden;
}

.header {
  height: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 7.5px;
  text-transform: uppercase;
}

.mid {
  height: 42%;
  display: flex;
  justify-content: center;
  align-items: start;
}
.countdown-timer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.timer-num {
  color: #fb5e84;
  text-align: center;
  font-size: 80px;
  font-weight: 700;
  line-height: 71px; /* 88.75% */
  letter-spacing: -2.4px;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 148px;
  height: 150px;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20148%20150%22%20fill%3D%22none%22%3E%3Crect%20width%3D%22148%22%20height%3D%22150%22%20rx%3D%228%22%20fill%3D%22%23191A23%22%2F%3E%3Crect%20width%3D%22148%22%20height%3D%22140%22%20rx%3D%228%22%20fill%3D%22%23343650%22%2F%3E%3C%2Fsvg%3E");
  background-size: contain;
  background-repeat: no-repeat;
}
.timer-txt {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8385a9;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 5.919px;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25%;
}
.bottom {
  width: 100%;
  height: 100%;
}
.social {
  bottom: 48px;
  position: absolute;
  display: flex;
  gap: 30px;
}
.social path:hover {
  fill: #fb5e84;
  cursor: pointer;
}

@media only screen and (max-width: 730px) {
  .header {
    font-size: 18px;
    letter-spacing: 5px;
  }
  .countdown-timer {
    display: flex;
    gap: 16px;
  }

  .timer {
    gap: 9px;
  }

  .timer-num {
    width: 100px;
    height: 102px;
    font-size: 50px;
    line-height: 48px;
  }

  .timer-txt {
    font-size: 10px;
    letter-spacing: 3px;
  }

  .social {
  }

  .social path {
    width: 20px;
    height: 20px;
  }
}

@media only screen and (max-width: 480px) {
  .header {
    margin-top: 20px;
  }
  .header1 {
    padding-top: 41px;
    width: 327px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 6.136px;
  }

  .timer-num {
    font-size: 36px;
    letter-spacing: -1.08px;
    width: 70px;
    height: 71px;
    background-size: contain;
  }

  .timer-txt {
    font-size: 7px;
    letter-spacing: 2.959px;
  }
}


